services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5000:80"
      - "5001:443"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:80;https://+:443
      - ASPNETCORE_Kestrel__Certificates__Default__Password=password
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/aspnetapp.pfx
      - ASPNETCORE_HTTPS_PORT=5001
      - ASPNETCORE_HTTP_PORT=5000
      - ASPNETCORE_FORWARDEDHEADERS_ENABLED=true
      - ConnectionStrings__DefaultConnection=Host=db;Database=ExpenseTracker;Username=postgres;Password=postgres
    volumes:
      - ~/.aspnet/https:/https:ro
    depends_on:
      - db
    networks:
      - expense-tracker-network
  client:
    build:
      context: client
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    networks:
      - expense-tracker-network
    environment:
      NODE_ENV: production
  db:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=ExpenseTracker
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - expense-tracker-network

volumes:
  postgres-data:

networks:
  expense-tracker-network:
    driver: bridge