:host {
  display: block;
  width: 100%;
  height: 100%;
}

::ng-deep {
  .expenses-list-card {
    height: calc(100vh - 150px);
    display: flex;
    flex-direction: column;

    .p-card-body {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: hidden;
    }

    .p-card-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      overflow: hidden;
      min-height: 0;
    }
  }
}

.table-container {
  overflow: hidden;
  margin-bottom: 1rem;
  flex: 1;
  min-height: 0;
  display: flex;
  flex-direction: column;
}

.price {
  font-weight: 500;
}

